# 数据加载，存储与文件格式

## 读写文本格式的数据

In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

In [3]:
!cat ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
df = pd.read_csv('ch06/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_table('ch06/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
help(pd.read_)

Help on function read_table in module pandas.io.parsers:

read_table(filepath_or_buffer, sep='\t', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=False, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=False, compact_ints=False, use_unsigned=False, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
    Read general delimited file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file ://localhost/path/to/table.csv
    sep : str, default \t (tab-stop)
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used automatically. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the data.
        Default behavior is as if set to 0 if no ``names`` passed, otherwise
        ``None``. Explicitly pass ``header=0`` to be able to replace existing
        names. The header can be a list of integers that specify row locations for
        a multi-index on the columns e.g. [0,1,3]. Intervening rows that are not
        specified will be skipped (e.g. 2 in this example is skipped). Note that
        this parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of data
        rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list are not
        allowed unless mangle_dupe_cols=True, which is the default.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : array-like or callable, default None
        Return a subset of the columns. If array-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid array-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz'].

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    as_recarray : boolean, default False
        DEPRECATED: this argument will be removed in a future version. Please call
        `pd.read_csv(...).to_records()` instead.

        Return a NumPy recarray instead of a DataFrame after parsing the data.
        If set to True, this option takes precedence over the `squeeze` parameter.
        In addition, as row indices are not available in such a format, the
        `index_col` parameter will be ignored.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    skip_footer : int, default 0
        DEPRECATED: use the `skipfooter` parameter instead, as they are identical
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'nan'`.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and parse_dates is enabled, pandas will attempt to infer the format
        of the datetime strings in the columns, and if it can be inferred, switch
        to a faster method of parsing them. In some cases this can increase the
        parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and parse_dates specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call date_parser in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by parse_dates) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by parse_dates into a single array
        and pass that; and 3) call date_parser once for each row using one or more
        strings (corresponding to the columns defined by parse_dates) as arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer', then use gzip,
        bz2, zip or xz if filepath_or_buffer is a string ending in '.gz', '.bz2',
        '.zip', or 'xz', respectively, and no decompression otherwise. If using
        'zip', the ZIP file must contain only one data file to be read in.
        Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
        with `header=0` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        Leave a list of tuples on columns as is (default is to convert to
        a Multi Index on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    buffer_lines : int, default None
        DEPRECATED: this argument will be removed in a future version because its
        value is not respected by the parser
    compact_ints : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If compact_ints is True, then for any column that is of integer dtype,
        the parser will attempt to cast it as the smallest integer dtype possible,
        either signed or unsigned depending on the specification from the
        `use_unsigned` parameter.
    use_unsigned : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If integer columns are being compacted (i.e. `compact_ints=True`), specify
        whether the column should be compacted to the smallest signed or unsigned
        integer dtype.
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [6]:
!cat ch06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [7]:
pd.read_csv('ch06/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [8]:
pd.read_csv('ch06/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('ch06/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [10]:
!cat ch06/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [11]:
parsed = pd.read_csv('ch06/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [12]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [13]:
result = pd.read_table('ch06/ex3.txt',sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [14]:
!cat ch06/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [15]:
pd.read_csv('ch06/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
!cat ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [17]:
result = pd.read_csv('ch06/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [18]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [7]:
result = pd.read_csv('ch06/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [20]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

In [21]:
pd.read_csv('ch06/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

## 逐块读取文本文件

In [22]:
result = pd.read_csv('ch06/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [23]:
pd.read_csv('ch06/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [24]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)
chunker

In [25]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [26]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

## 将数据写出到文本格式

In [9]:
data = pd.read_csv('ch06/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [10]:
data.to_csv('ch06/out.csv')

In [29]:
!cat ch06/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [30]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [31]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [32]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [33]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [34]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('ch06/tseries.csv')
!cat examples/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

## 手工处理分隔符格式

In [35]:
!cat ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [36]:
import csv
f = open('ch06/ex7.csv')

reader = csv.reader(f)

In [37]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [38]:
with open('ch06/ex7.csv') as f:
    lines = list(csv.reader(f))

In [39]:
header, values = lines[0], lines[1:]

In [40]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [41]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [42]:
#reader = csv.reader(f, dialect=my_dialect)
#reader = csv.reader(f, delimiter='|')

In [43]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

## JSON数据

In [13]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [14]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [15]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [47]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

## XML和HTML：Web信息收集

In [48]:
#conda install lxml pip install beautifulsoup4 html5lib

In [49]:
from lxml.html import parse 
from urllib.request import urlopen #与书上不同，采用python3的写法
parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))
doc = parsed.getroot()

In [50]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x1055e0458>,
 <Element a at 0x1055e04a8>,
 <Element a at 0x1055e04f8>,
 <Element a at 0x1055e0548>,
 <Element a at 0x1055e0598>]

In [51]:
lnk = links[28]
lnk

In [52]:
lnk.get('href')

'/quote/AAPL/options?strike=false&straddle=false'

In [53]:
lnk.text_content()

'35.00'

In [54]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

['/',
 '/watchlists',
 '/portfolios',
 '/screener',
 '/calendar',
 '/industries',
 '/personal-finance',
 '/tech',
 '/topic/yahoo-finance-podcast',
 'https://www.yahoo.com/author/andy-serwer']

In [55]:
tables = doc.findall('.//table') 
tables

In [56]:
#代码与书上有差异
calls = tables[0] 
puts = tables[1]
rows = calls.findall('.//tr')
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]
_unpack(rows[0], kind='th')

['Contract Name',
 'Last Trade Date',
 'Strike',
 'Last Price',
 'Bid',
 'Ask',
 'Change',
 '% Change',
 'Volume',
 'Open Interest',
 'Implied Volatility']

In [57]:
_unpack(rows[1], kind='td')

['AAPL180921C00002500',
 '2018-09-14 1:13PM EDT',
 '2.50',
 '220.65',
 '220.80',
 '221.55',
 '-1.95',
 '-0.88%',
 '2',
 '124',
 '1,831.25%']

In [58]:
from pandas.io.parsers import TextParser
def parse_options_data(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

call_data = parse_options_data(calls)

put_data = parse_options_data(puts)

call_data[:10]

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,AAPL180921C00002500,2018-09-14 1:13PM EDT,2.5,220.65,220.80,221.55,-1.95,-0.88%,2,124,"1,831.25%"
1,AAPL180921C00005000,2018-09-13 10:28AM EDT,5.0,220.10,218.30,219.00,0.00,-,59,59,"1,420.31%"
2,AAPL180921C00007500,2018-09-14 11:46PM EDT,7.5,217.60,215.85,216.55,0.00,-,93,93,"1,290.63%"
3,AAPL180921C00010000,2018-09-14 11:45PM EDT,10.0,215.10,213.35,214.05,0.00,-,57,57,"1,167.19%"
4,AAPL180921C00012500,2018-09-13 10:22AM EDT,12.5,212.15,210.85,211.55,0.00,-,12,22,"1,073.44%"
5,AAPL180921C00015000,2018-09-13 10:22AM EDT,15.0,209.65,208.35,209.05,0.00,-,7,57,"1,000.00%"
6,AAPL180921C00030000,2018-09-14 11:46PM EDT,30.0,194.90,193.35,194.05,0.00,-,29,29,732.81%
7,AAPL180921C00035000,2018-09-14 11:46PM EDT,35.0,190.25,188.35,189.05,0.00,-,50,50,675.78%
8,AAPL180921C00040000,2018-09-14 11:46PM EDT,40.0,185.25,183.35,184.05,0.00,-,20,20,627.34%
9,AAPL180921C00045000,2018-09-14 11:46PM EDT,45.0,180.25,178.35,179.05,0.00,-,50,50,584.38%

### 利用lxml.objectify解析XML

In [20]:
from lxml import objectify
path = 'student.xml'
parsed = objectify.parse(open(path)) 
root = parsed.getroot()
root

In [28]:
data = []
for student in root.getchildren(): 
    print(student['姓名'].pyval)

张三
李四

In [17]:
from lxml import objectify
path = 'Performance_MNR.xml'
parsed = objectify.parse(open(path)) 
root = parsed.getroot()
root

In [60]:
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']
for elt in root.INDICATOR: 
    el_data = {}
    for child in elt.getchildren(): 
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [61]:
perf = pd.DataFrame(data)
perf

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95
5,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,94.4,95,6,2008,96.2,95
6,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96,95,7,2008,96.2,95
7,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.4,95,8,2008,96.2,95
8,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,93.7,95,9,2008,95.9,95
9,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.4,95,10,2008,96,95
10,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,11,2008,96.1,95
11,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.1,95,12,2008,96,95
12,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,92.6,96.2,1,2009,92.6,96.2
13,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.8,96.2,2,2009,94.6,96.2
14,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,96.2,3,2009,95.4,96.2
15,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.1,96.2,4,2009,95.9,96.2
16,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.8,96.2,5,2009,96.2,96.2
17,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.3,96.2,6,2009,96.4,96.2
18,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.7,96.2,7,2009,96.5,96.2
19,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.7,96.2,8,2009,96.4,96.2
20,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.1,96.2,9,2009,96.3,96.2
21,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,94.8,96.2,10,2009,96.2,96.2
22,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.7,96.2,11,2009,96.1,96.2
23,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,96.2,12,2009,96,96.2
24,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98,96.3,1,2010,98,96.3
25,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,93,96.3,2,2010,95.6,96.3
26,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,96.3,3,2010,96.1,96.3
27,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.1,96.3,4,2010,96.6,96.3
28,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.6,96.3,5,2010,96.8,96.3
29,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.4,96.3,6,2010,96.9,96.3
...,...,...,...,...,...,...,...,...,...,...,...,...
618,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,94,,7,2009,95.14,
619,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97,,8,2009,95.38,
620,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.3,,9,2009,95.7,
621,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.7,,10,2009,96,
622,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.1,,11,2009,96.21,
623,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,,12,2009,96.5,
624,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97.95,97,1,2010,97.95,97
625,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,2,2010,98.92,97
626,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,3,2010,99.29,97
627,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,4,2010,99.47,97
628,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,5,2010,99.58,97
629,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,91.21,97,6,2010,98.19,97
630,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,7,2010,98.46,97
631,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,8,2010,98.69,97
632,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,95.2,97,9,2010,98.3,97
633,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,90.91,97,10,2010,97.55,97
634,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,96.67,97,11,2010,97.47,97
635,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,90.03,97,12,2010,96.84,97
636,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,1,2011,100,97
637,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,2,2011,100,97
638,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97.07,97,3,2011,98.86,97
639,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.18,97,4,2011,98.76,97
640,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,79.18,97,5,2011,90.91,97
641,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,6,2011,,97
642,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,7,2011,,97
643,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,8,2011,,97
644,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,9,2011,,97
645,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,10,2011,,97
646,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,11,2011,,97
647,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,12,2011,,97

In [62]:
from io import StringIO #与书上不同，支持python3
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [63]:
root

In [64]:
root.get('href')

'http://www.google.com'

In [65]:
root.text

'Google'

## 二进制数据格式

In [66]:
frame = pd.read_csv('ch06/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [67]:
#frame.save('ch06/frame_pickle') 这个会报错
frame.to_pickle('ch06/frame_pickle')

In [68]:
#pd.load('ch06/frame_pickle') 这个会报错
pd.read_pickle('ch06/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## 使用HDF5格式

In [76]:
#若无法执行需要安装tables库
#执行pip install tables
store = pd.HDFStore('mydata.h5','w') #以写入模式打开文件
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5
/obj1                frame        (shape->[3,5])
/obj1_col            series       (shape->[3])

In [77]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [78]:
store.close() #操作完成后请务必关闭

## 读取Microsoft Excel文件

In [79]:
#若无法执行，安装xlrd
#执行pip3 install xlrd
xls_file = pd.ExcelFile('ex1.xlsx') 
#作者的数据集换名字了

In [80]:
table = xls_file.parse('Sheet1')

# 使用HTML和Web API

In [81]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [82]:
import json
data = resp.json()
data[0]['title']
#书上的代码没有对应数据，这是作者给的代码

'TST/CLN: Fixturize frame/test_analytics'

In [84]:
data = json.loads(resp.text)
data

[{'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': '- [x] 1 step closer towards #22471\r\n- [x] tests added / passed\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n\r\nThis module is **much** harder to fixturize than e.g. #22236 or #22730, mainly due to the class methods `_check_stat_op` and `_check_bool_op`, which, despite having an argument for the frame they\'re testing, are *also* testing on other quasi-fixtures of `TestData`. Since I can\'t import directly from `frame/conftest` without getting `RemovedInPytest4Warnings`, I made theses fixtures explicit arguments of the respective methods.\r\n\r\nFurthermore, I extracted two fixtures that basically correspond to those methods being called without a `frame` argument, and added them to `conftest`.\r\n\r\nThe larger question is how to avoid all these redundant calls being made (e.g. in `test_max`), and how `_check_stat_op` / `_check_stat_op` should be properly split up into several tests/parametrizations. So I don\'t view this PR as ready, but needing discussion regarding how to best proceed.\r\n',
  'closed_at': None,
  'comments': 1,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22733/comments',
  'created_at': '2018-09-17T01:03:20Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22733/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/22733',
  'id': 360697636,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22733/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MjE1ODU2NTI1',
  'number': 22733,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/22733.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/22733',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/22733.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/22733'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'TST/CLN: Fixturize frame/test_analytics',
  'updated_at': '2018-09-17T01:05:45Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22733',
  'user': {'avatar_url': 'https://avatars1.githubusercontent.com/u/33685575?v=4',
   'events_url': 'https://api.github.com/users/h-vetinari/events{/privacy}',
   'followers_url': 'https://api.github.com/users/h-vetinari/followers',
   'following_url': 'https://api.github.com/users/h-vetinari/following{/other_user}',
   'gists_url': 'https://api.github.com/users/h-vetinari/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/h-vetinari',
   'id': 33685575,
   'login': 'h-vetinari',
   'node_id': 'MDQ6VXNlcjMzNjg1NTc1',
   'organizations_url': 'https://api.github.com/users/h-vetinari/orgs',
   'received_events_url': 'https://api.github.com/users/h-vetinari/received_events',
   'repos_url': 'https://api.github.com/users/h-vetinari/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/h-vetinari/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/h-vetinari/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/h-vetinari'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'NONE',
  'body': 'Hello All,\r\n\r\nI have a link from which I need to get the data (basically the whole table)\r\n\r\nhttps://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html\r\n\r\nBut there is no < table > tag, so read_html does not work.\r\n\r\n![screen shot 2018-09-15 at 9 55 10 pm](https://user-images.githubusercontent.com/43326583/45602876-c9490f00-b9f3-11e8-9092-17c1959afdc1.png)\r\n\r\nAre there any substitutions for read_html?\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit: None\r\npython: 3.6.3.final.0\r\npython-bits: 64\r\nOS: Linux\r\nOS-release: 4.9.93-linuxkit-aufs\r\nmachine: x86_64\r\nprocessor: x86_64\r\nbyteorder: little\r\nLC_ALL: en_US.UTF-8\r\nLANG: en_US.UTF-8\r\nLOCALE: en_US.UTF-8\r\n\r\npandas: 0.23.4\r\npytest: None\r\npip: 18.0\r\nsetuptools: 40.0.0\r\nCython: 0.28.5\r\nnumpy: 1.13.3\r\nscipy: 1.1.0\r\npyarrow: None\r\nxarray: None\r\nIPython: 6.5.0\r\nsphinx: None\r\npatsy: 0.5.0\r\ndateutil: 2.7.3\r\npytz: 2018.5\r\nblosc: None\r\nbottleneck: None\r\ntables: None\r\nnumexpr: 2.6.6\r\nfeather: None\r\nmatplotlib: 2.2.3\r\nopenpyxl: None\r\nxlrd: 1.1.0\r\nxlwt: None\r\nxlsxwriter: None\r\nlxml: 4.2.5\r\nbs4: 4.6.3\r\nhtml5lib: 1.0.1\r\nsqlalchemy: 1.2.11\r\npymysql: None\r\npsycopg2: None\r\njinja2: 2.10\r\ns3fs: None\r\nfastparquet: None\r\npandas_gbq: None\r\npandas_datareader: None\r\n\r\n',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22732/comments',
  'created_at': '2018-09-17T01:03:15Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22732/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/22732',
  'id': 360697632,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22732/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDU6SXNzdWUzNjA2OTc2MzI=',
  'number': 22732,
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'read_html substitutions',
  'updated_at': '2018-09-17T01:03:39Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22732',
  'user': {'avatar_url': 'https://avatars2.githubusercontent.com/u/43326583?v=4',
   'events_url': 'https://api.github.com/users/AnnaSou/events{/privacy}',
   'followers_url': 'https://api.github.com/users/AnnaSou/followers',
   'following_url': 'https://api.github.com/users/AnnaSou/following{/other_user}',
   'gists_url': 'https://api.github.com/users/AnnaSou/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/AnnaSou',
   'id': 43326583,
   'login': 'AnnaSou',
   'node_id': 'MDQ6VXNlcjQzMzI2NTgz',
   'organizations_url': 'https://api.github.com/users/AnnaSou/orgs',
   'received_events_url': 'https://api.github.com/users/AnnaSou/received_events',
   'repos_url': 'https://api.github.com/users/AnnaSou/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/AnnaSou/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/AnnaSou/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/AnnaSou'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': '- [x] tests added / passed\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n\r\nBased on #22459. Fix the docstring for Series.nsmallest and Series.nlargest. I did both together since the same example could be used. I removed both from the skipped doctests in `ci/doctests.sh`.\r\n\r\nI also found out about the "all" option for the `keep` parameter which was surprisingly not documented. ',
  'closed_at': None,
  'comments': 1,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22731/comments',
  'created_at': '2018-09-17T00:51:52Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22731/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/22731',
  'id': 360696587,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22731/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MjE1ODU1ODUw',
  'number': 22731,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/22731.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/22731',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/22731.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/22731'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'DOC: Fix Series nsmallest and nlargest docstring/doctests',
  'updated_at': '2018-09-17T00:52:36Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22731',
  'user': {'avatar_url': 'https://avatars3.githubusercontent.com/u/31669?v=4',
   'events_url': 'https://api.github.com/users/Moisan/events{/privacy}',
   'followers_url': 'https://api.github.com/users/Moisan/followers',
   'following_url': 'https://api.github.com/users/Moisan/following{/other_user}',
   'gists_url': 'https://api.github.com/users/Moisan/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/Moisan',
   'id': 31669,
   'login': 'Moisan',
   'node_id': 'MDQ6VXNlcjMxNjY5',
   'organizations_url': 'https://api.github.com/users/Moisan/orgs',
   'received_events_url': 'https://api.github.com/users/Moisan/received_events',
   'repos_url': 'https://api.github.com/users/Moisan/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/Moisan/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/Moisan/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/Moisan'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': '- [x] 3 modules of #22471\r\n- [x] tests added / passed\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n\r\nI split the commits per module, and (where possible) into fixturizing and cleaning up the imports. Other notes:\r\n* For `test_apply`, I added an another often-used fixture\r\n* In translating the quasi-fixtures from `TestData` to `conftest` in #22236, I sorted the dtypes for the columns of `mixed_float_frame` and `mixed_int_frame`, which turns out to have been a mistake. This is reverted here to be a true translation of the attribute of `TestData`. Otherwise, tests in the newly fixturized `test_arithmetic.py` would fail.\r\n\r\nEn passant, I also unified GH issue references.\r\n',
  'closed_at': None,
  'comments': 2,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22730/comments',
  'created_at': '2018-09-17T00:29:23Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22730/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/22730',
  'id': 360694656,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22730/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MjE1ODU0NjI0',
  'number': 22730,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/22730.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/22730',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/22730.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/22730'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'TST/CLN: Fixturize frame tests',
  'updated_at': '2018-09-17T01:15:25Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22730',
  'user': {'avatar_url': 'https://avatars1.githubusercontent.com/u/33685575?v=4',
   'events_url': 'https://api.github.com/users/h-vetinari/events{/privacy}',
   'followers_url': 'https://api.github.com/users/h-vetinari/followers',
   'following_url': 'https://api.github.com/users/h-vetinari/following{/other_user}',
   'gists_url': 'https://api.github.com/users/h-vetinari/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/h-vetinari',
   'id': 33685575,
   'login': 'h-vetinari',
   'node_id': 'MDQ6VXNlcjMzNjg1NTc1',
   'organizations_url': 'https://api.github.com/users/h-vetinari/orgs',
   'received_events_url': 'https://api.github.com/users/h-vetinari/received_events',
   'repos_url': 'https://api.github.com/users/h-vetinari/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/h-vetinari/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/h-vetinari/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/h-vetinari'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'NONE',
  'body': 'Hi, I am the maintainer of tsfresh, we calculate features from time series and rely on pandas internally. \r\n\r\nSince we open sourced tsfresh, we had numerous reports of tsfresh crashing on big datasets but were never able to pin it down. The errors seem to occur for big datasets (100 GB+). I also tried to reproduce it but do not have access to a machine that has enough memory at the moment.\r\n\r\nRecently, we found the place, it seem to crash at \r\n\r\n```python\r\n[x + (y,) for x, y in df.groupby([column_id, column_kind])[column_value]]\r\n```\r\ndf is a dataframe that looks like\r\n```\r\n        ====  ======  =========\r\n          id  kind          val\r\n        ====  ======  =========\r\n           1  a       -0.21761\r\n           1  a       -0.613667\r\n           1  a       -2.07339\r\n           2  b       -0.576254\r\n           2  b       -1.21924\r\n        ====  ======  =========\r\n```\r\nand it should get converted into\r\n```\r\n        [(1, \'a\', pd.Series([-0.217610, -0.613667, -2.073386]),\r\n         (2, \'b\', pd.Series([-0.576254, -1.219238])]\r\n```\r\n\r\nAn exemplary stack trace where this crashes is\r\n\r\n``` python\r\ndata_in_chunks = [x + (y,) for x, y in df.groupby([column_id, column_kind])[column_value]]\r\nFile "/home/yuval/pai/projects/pai-tsfresh/pai_tsfresh/feature_extraction/extraction.py", line 217, in \r\ndata_in_chunks = [x + (y,) for x, y in df.groupby([column_id, column_kind])[column_value]]\r\nFile "/usr/local/lib/python3.6/dist-packages/pandas/core/groupby.py", line 1922, in get_iterator\r\nsplitter = self._get_splitter(data, axis=axis)\r\nFile "/usr/local/lib/python3.6/dist-packages/pandas/core/groupby.py", line 1928, in _get_splitter\r\ncomp_ids, _, ngroups = self.group_info\r\nFile "pandas/_libs/properties.pyx", line 38, in pandas._libs.properties.cache_readonly.get\r\nFile "/usr/local/lib/python3.6/dist-packages/pandas/core/groupby.py", line 2040, in group_info\r\ncomp_ids, obs_group_ids = self._get_compressed_labels()\r\nFile "/usr/local/lib/python3.6/dist-packages/pandas/core/groupby.py", line 2056, in _get_compressed_labels\r\nall_labels = [ping.labels for ping in self.groupings]\r\nFile "/usr/local/lib/python3.6/dist-packages/pandas/core/groupby.py", line 2056, in \r\nall_labels = [ping.labels for ping in self.groupings]\r\nFile "/usr/local/lib/python3.6/dist-packages/pandas/core/groupby.py", line 2750, in labels\r\nself._make_labels()\r\nFile "/usr/local/lib/python3.6/dist-packages/pandas/core/groupby.py", line 2767, in _make_labels\r\nself.grouper, sort=self.sort)\r\nFile "/usr/local/lib/python3.6/dist-packages/pandas/core/algorithms.py", line 468, in factorize\r\ntable = hash_klass(size_hint or len(values))\r\nFile "pandas/_libs/hashtable_class_helper.pxi", line 1005, in pandas._libs.hashtable.StringHashTable.init\r\nOverflowError: value too large to convert to int\r\n```\r\n\r\nSee also the discussion in https://github.com/blue-yonder/tsfresh/issues/418\r\n\r\nSo, I assume that we hit some kind of threshold. Any idea how to get the groupby more robust for bigger datasets?\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit: None\r\npython: 3.6.4.final.0\r\npython-bits: 64\r\nOS: Linux\r\nOS-release: 4.15.0-1018-gcp\r\nmachine: x86_64\r\nprocessor: x86_64\r\nbyteorder: little\r\nLC_ALL: None\r\nLANG: en_US.UTF-8\r\nLOCALE: en_US.UTF-8\r\n\r\npandas: 0.23.4\r\npytest: None\r\npip: 9.0.1\r\nsetuptools: 20.7.0\r\nCython: None\r\nnumpy: 1.15.0\r\nscipy: 1.1.0\r\npyarrow: None\r\nxarray: None\r\nIPython: 6.2.1\r\nsphinx: None\r\npatsy: 0.5.0\r\ndateutil: 2.6.1\r\npytz: 2018.3\r\nblosc: None\r\nbottleneck: None\r\ntables: None\r\nnumexpr: 2.6.4\r\nfeather: None\r\nmatplotlib: 2.1.2\r\nopenpyxl: None\r\nxlrd: None\r\nxlwt: None\r\nxlsxwriter: None\r\nlxml: None\r\nbs4: None\r\nhtml5lib: 0.9999999\r\nsqlalchemy: None\r\npymysql: None\r\npsycopg2: None\r\njinja2: 2.8\r\ns3fs: None\r\nfastparquet: None\r\npandas_gbq: None\r\npandas_datareader: None\r\n\r\n</details>\r\n',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22729/comments',
  'created_at': '2018-09-16T08:47:50Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22729/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/22729',
  'id': 360618618,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22729/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDU6SXNzdWUzNjA2MTg2MTg=',
  'number': 22729,
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'Groupby Get Groups fails with "OverflowError: value too large to convert to int"',
  'updated_at': '2018-09-16T08:49:15Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22729',
  'user': {'avatar_url': 'https://avatars3.githubusercontent.com/u/13162426?v=4',
   'events_url': 'https://api.github.com/users/MaxBenChrist/events{/privacy}',
   'followers_url': 'https://api.github.com/users/MaxBenChrist/followers',
   'following_url': 'https://api.github.com/users/MaxBenChrist/following{/other_user}',
   'gists_url': 'https://api.github.com/users/MaxBenChrist/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/MaxBenChrist',
   'id': 13162426,
   'login': 'MaxBenChrist',
   'node_id': 'MDQ6VXNlcjEzMTYyNDI2',
   'organizations_url': 'https://api.github.com/users/MaxBenChrist/orgs',
   'received_events_url': 'https://api.github.com/users/MaxBenChrist/received_events',
   'repos_url': 'https://api.github.com/users/MaxBenChrist/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/MaxBenChrist/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/MaxBenChrist/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/MaxBenChrist'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'MEMBER',
  'body': 'Refactoring `timeseries.rst` introduction and overview to give a better introduction into pandas timeseries functionality:\r\n\r\n- Introduce a wider range of examples\r\n- Overview all scalar and array classes, related data types, and range methods, and `NaT` in the beginning\r\n\r\n \r\n',
  'closed_at': None,
  'comments': 2,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22728/comments',
  'created_at': '2018-09-16T06:06:56Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22728/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/22728',
  'id': 360607718,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22728/labels{/name}',
  'locked': False,
  'milestone': None,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MjE1ODA1NTAw',
  'number': 22728,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/22728.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/22728',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/22728.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/22728'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'CLN/DOC: Refactor timeseries.rst intro and overview',
  'updated_at': '2018-09-16T20:14:15Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/22728',
  'user': {'avatar_url': 'https://avatars0.githubusercontent.com/u/10647082?v=4',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'gravatar_id': '',

In [86]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,22733,TST/CLN: Fixturize frame/test_analytics,[],open
1,22732,read_html substitutions,[],open
2,22731,DOC: Fix Series nsmallest and nlargest docstri...,[],open
3,22730,TST/CLN: Fixturize frame tests,[],open
4,22729,"Groupby Get Groups fails with ""OverflowError: ...",[],open
5,22728,CLN/DOC: Refactor timeseries.rst intro and ove...,[],open
6,22727,Feature request: add an optional values parame...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
7,22726,CLN: io/formats/html.py: refactor indentation,"[{'id': 57395487, 'node_id': 'MDU6TGFiZWw1NzM5...",open
8,22725,CLN/ERR: str.cat internals,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
9,22724,Mismatch in Series/DataFrame boolean ops behavior,[],open
10,22723,TST/CLN: remove duplicate data file used in te...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
11,22722,Improve TypeError message for str.cat,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
12,22721,str.cat not working with binary data on Python3,"[{'id': 219960758, 'node_id': 'MDU6TGFiZWwyMTk...",open
13,22720,Reading SAS time variables,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open
14,22719,Python crashes with bad function arguments,"[{'id': 307649777, 'node_id': 'MDU6TGFiZWwzMDc...",open
15,22717,Timedelta interpreted as int upon first insert...,[],open
16,22714,Segfaults on Python 3.8 (CPython master),[],open
17,22713,"BUG: astype(""category"") creates unreachable ob...",[],open
18,22712,Unhandled warning from NumPy dev in median,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
19,22710,BUG: Empty CategoricalIndex fails with boolean...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,22709,API: reconsider or warn on the non-sorting of ...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
21,22708,from_records should order dict columns similar...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
22,22707,to_clipboard has no effect in ipython (works i...,[],open
23,22706,json_normalize raises TypeError exception,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,22705,"DataFrame.from_dict(OrderedDict(items),...) no...",[],open
25,22704,Support writing CSV to GCS,"[{'id': 2301354, 'node_id': 'MDU6TGFiZWwyMzAxM...",open
26,22703,BUG: Fix dtype inconsistency when appending to...,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open
27,22702,ValueError in Categorical Constructor with emp...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,22699,TST: Fail on warning,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
29,22698,Handle FutureWarning from NumPy in Series Cons...,"[{'id': 77550281, 'node_id': 'MDU6TGFiZWw3NzU1...",open

## 使用数据库

In [89]:
import sqlite3
query = """
CREATE TABLE if not exists test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [90]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [91]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [92]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [97]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3
5   Sacramento  California  1.70  5
6      Atlanta     Georgia  1.25  6
7  Tallahassee     Florida  2.60  3
8   Sacramento  California  1.70  5

In [98]:
import pandas.io.sql as sql
sql.read_frame('select * from test', con)

AttributeError: module 'pandas.io.sql' has no attribute 'read_frame'

In [99]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

ModuleNotFoundError: No module named 'sqlalchemy'

## 存取MongoDB中的数据

In [100]:
#conda install pymongo
import pymongo
from pymongo import MongoClient
con = MongoClient()
con
#con = pymongo.Connection('localhost', port=27017)
#新的pymongo中取消了Connection这个方法

ModuleNotFoundError: No module named 'pymongo'

In [124]:
tweets = con.db.tweets

In [125]:
import requests, json
url = 'http://search.twitter.com/search.json?q=python%20pandas' 
data = json.loads(requests.get(url).text)
for tweet in data['results']: 
    tweets.save(tweet)

ConnectionError: HTTPConnectionPool(host='search.twitter.com', port=80): Max retries exceeded with url: /search.json?q=python%20pandas (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x1268e3f50>: Failed to establish a new connection: [Errno 60] Operation timed out',))

In [ ]:
cursor = tweets.find({'from_user': 'wesmckinn'})

In [ ]:
tweet_fields = ['created_at', 'from_user', 'id', 'text'] 
result = DataFrame(list(cursor), columns=tweet_fields)